/logs/
/local/
/natives/
/saves/
/server-resource-packs/
/crash-reports/
/backups/
/everbook/

options.txt
TLauncherAdditional.json
Traveller's Wonders.jar
Traveller's Wonders.json
usercache.json
usernamecache.json
TLauncherAdditional.json
